<div class="row ">
    <div class="col mt-4" >
        <div class="card mt-2">
            <img src="{% static 'img\kk.jpg' %}" class="img-thumbnail" alt="...">
          
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>